 <!-- portfolio starts -->
 <div class="bg">
    <!--background image-->
    <div class="arrenge">

        <h6 class="con-sub-heading">Sanjivani</h6>
        <!--Heading-->

        <h2 class="con-heading">PORTFOLIOS</h2>
        <!--Heading-->
        <div class="d-flex justify-content-center flex-wrap" id="box">
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 1-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete1.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/education.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Children</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 2-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete2.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/health.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Old Age</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
            <div class="p-2 bd-highlight" id="box2">
                <!--Flex box 3-->
                <a href="#">
                    <div class="card">
                        <img src="assets/img/pallete9.png" class="resize" alt="...">
                        <div class="panda">
                            <div class="background">
                                <img src="assets/img/medical.png" id="img2" />
                            </div>
                        </div>
                        <div class="card-footer">
                            <b class="bold">Medical</b>

                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- portfolio ends -->