  <!-- footer 1 starts -->
  <div id="footer-cntrl">
    <footer id="footer">
        <div class="footer-top">
            <div class="container-fluid">
                <div class="row">
                    <div class=" col-md-3">
                        <div class="footer-info text-center">
                            <img src="/static/CSS/images/logo1.png" height="100" alt="Sanjivani">
                            <p>
                                FLAT NO 17, SULAI COMPLEX, Near DESAI Hospital,<br> Mohammed Wadi, Pune,
                                Maharashtra
                                411060<br><br>
                                <strong>Phone:</strong> <a href="" class="text-white">8956253672</a><br>
                                <strong>Email:</strong> <a href=""
                                    class="text-white">headoffice@sanjivani.org</a><br>
                            </p>

                            <br>
                            <h4>Connect With Sanjivani</h4>
                            <div class="social-links">
                                <a target="_blank" href="https://www.facebook.com/oursanjivani"><i
                                        class="fab fa-facebook-f"></i></a>
                                <a target="_blank" href="https://twitter.com/oursanjivani"><i
                                        class="fab fa-twitter"></i></a>
                                <a target="_blank" href="https://www.linkedin.com/company/sanjivani"><i
                                        class="fab fa-linkedin-in"></i></a>
                                <a target="_blank" href="https://www.youtube.com/user/oursanjivani"><i
                                        class="fab fa-youtube"></i></a>
                                <a target="_blank" href="https://www.instagram.com/sanjivani_Ngo"><i
                                        class="fab fa-instagram"></i></a>
                                <a target="_blank" href="https://wa.me/918956253672"><i
                                        class="fab fa-whatsapp"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 footer-links d-flex">
                        <div class="col-sm-6 col-md-6 p-0 m-0">
                            <h4>Donate via UPI ID</h4>
                            <ul>
                                <li><a href="">sanjivaniNgo@sbi</a></li>
                            </ul>
                        </div>


                        <div class="col-sm-6 col-md-6 p-0 m-0">
                            <h4>Crowdfunding</h4>
                            <ul>
                                <li><a href="">Medical</a></li>
                                <li><a href="">Disaster Relief</a></li>
                                <li><a href="">Education</a></li>
                                <li><a href="">Clean Drinking Water</a></li>
                                <li><a href="">Food & Hunger</a></li>
                                <li><a href="">Infrastructure</a></li>
                                <li><a href="">Transportation</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 footer-links d-flex">
                        <div class="col-sm-6 col-md-6 p-0 m-0">
                            <h4>Donate</h4>
                            <ul>
                                <li><a href="">In honour of</a></li>
                                <li><a href="">In memory of</a></li>
                                <li><a href="">On occasion </a></li>
                                <li><a href="">Bank Transfer</a></li>
                                <li><a href="">Tax Exemption Benefits</a></li>
                            </ul>
                        </div>

                        <div class="col-sm-6 col-md-6 p-0 m-0">
                            <h4>How You Can Help Us</h4>
                            <ul>
                                <li><a href="">Join As Volunteer</a></li>
                                <li><a href="">Sponsor Kitchen Equipment</a></li>
                                <li><a href="">Sponsor A Kid For A Year</a></li>
                                <li><a href="">Donate A Vehicle</a></li>
                                <li><a href="">Fundraise With Us</a></li>
                                <li><a href="">Corporate Partnerships</a></li>
                                <li><a href="">CSR Opportunity</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 footer-links d-flex">
                        <div class="col-sm-6 col-md-6 p-0 m-0">
                            <h4>Quick Links</h4>
                            <ul>
                                <li><a href="">Privacy Policy</a></li>
                                <li><a href="">Disclaimer</a></li>
                                <li><a href="">Term & Condition</a></li>
                                <li><a href="">Refund Policy</a></li>
                                <li><a href="">Sitemap</a></li>
                                <li><a href="">FAQ </a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-12 text-center">
                        <div class="col-md-12 ">
                            <hr class="line" style="width: 50%;">
                            <h5 class="mt-20 text-center">Sanjivani Projects </h5>
                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Pune</a>
                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in kolkata</a>
                            <a class="mr-3 mb-4 text-white " href="">Top Ngo in India</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Mumbai</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Delhi</a>
                            <a class="mr-3 mb-4 text-white" href="">Top 10 Ngo in Pune</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Nagpur</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Latur</a>
                            <a class="mr-3 mb-4 text-white" href="">Old age Ngo in Pune</a>

                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Andhra Pradesh</a>
                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Arunachal Pradesh</a>
                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Assam</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Bihar</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Chhattisgarh</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Goa</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Gujarat</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Haryana</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Himachal Pradesh</a>

                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Jammu and Kashmir</a>
                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Jharkhand</a>
                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Karnataka</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Kerala</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Madhya Pradesh</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Maharashtra</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Manipur</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Meghalaya</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Mizoram</a>

                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Nagaland</a>
                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Odisha</a>
                            <a class="mr-3 mb-4 text-white " href="">Sanjivani Ngo in Punjab</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Rajasthan</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Sikkim</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Tamil Nadu</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Telangana</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Tripura</a>
                            <a class="mr-3 mb-4 text-white" href="">Sanjivani Ngo in Uttar Pradesh</a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- footer 1 ends -->
<!-- footer 2 starts -->
<div id="footer2" class="container-fluid">
    <div class="row text-center text-white p-2 mb-n3">
        <div class="col-md-6">
            Copyright &copy; <strong><span>SANJIVANI</span></strong> 2011 - 2022. All Rights Reserved
        </div>
        <div class="col-md-6">
            Supported by Volunteers Across World
        </div>
    </div>
</div>
<!-- footer2 ends -->