<nav id="navbar" class="navbar navbar-expand-sm navbar-light ">
    <div style="padding: 0rem;" class="container-fluid">
        <a class="navbar-brand" href="#"><img id="logo" src="assets/img/logo1.png"></a>



        <div class="container-fluid" id="navbarSupportedContent">
            <ul id="menu-item" class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a id="nav-link" aria-current="page" href="#">HOME</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" href="#">ABOUT US</a>
                </li>
                <li class="nav-item dropdown">
                    <a id="nav-link" class="dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        OUR WORK
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a id="nav-link" class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a id="nav-link" href="#">OUR REACH</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" href="#">DONATE</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" href="#">PARTNERS</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" href="#">VOLUNTEER</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" href="#">MEDIA</a>
                </li>
                <li class="nav-item">
                    <a id="nav-link" href="#">CONTACT US</a>
                </li>


                <button id="login" class="btn btn-danger" type="button"><a
                        href="">Login/Signup</a></button>
                <div class="user">
                    <img class="dp img-fluid" src="/static/CSS/images/no_image.png">
                    <form method="POST" action="/logout"><button name="info" value="logout" class="btn btn-danger"
                            type="submit">Logout</button></form>
                </div>


            </ul>


        </div>
    </div>

</nav>
