/* nav starts */
#navbar {
    position: relative;
    margin-bottom: 0px;
    font-family: "Hind", sans-serif;
    padding: 0px;
    width: 100%;
    height: 60px;
    z-index: 6;
    box-shadow: rgb(41, 41, 41) 0px 8px 10px -6px;
  }
  
  #logo {
    width: 100px;
    height: 60px;
  }
  
  a {
    color: #2f2398;
    text-decoration: none;
  }
  
  #nav-link {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    padding: 0.5rem 1rem;
  }
  
  a:hover {
    color: #ffc310;
  }
  
  .nav-item {
    border-radius: 50px;
    width: 18vh;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #menu {
    margin: 0px;
    padding: 0px;
  }
  
  #menu-item {
    transition: 0.3s;
  }
  
  .nav-btn {
    margin-left: 5vh;
  }
  
  .nav-item:hover {
    background-color: #2f2398;
  }
  
  .user {
    width: 60px;
    height: 60px;
    border: solid black 5px;
    border-radius: 500px;
    display: none;
  }
  
  #login {
    display: block;
  }
  
  #login > a {
    color: white;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 1024px) {
    #menu-item {
      display: none;
    }
  }
  /* nav ends */