<div>
    <h6 class="con-sub-heading" style="color: black;">Sanjivani</h6>
    <!--Heading-->
    <h2 class="con-heading" style="color: #556270 ;">URGENTLY NEED YOUR HELP</h2>
    <!--Heading-->
    <div id="container">
        <div id="slider-container">
            <!-- <span onclick="slideRight()" class="btn"></span> -->
            <div id="slider">
                <div class="slide">
                    <div class="donate-card" style="width: 18rem;">
                        <img src="assets/img/pic1.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">'Save our Gau Mata from starva. . .</h5>
                            <p class="card-text">By Sanjivani NGO.</p>
                            <div class="box">
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Fund</p>
                                </div>
                                <div class="card-part">
                                    <h5>0</h5>
                                    <p>Supporters</p>
                                </div>
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Share</p>
                                </div>
                            </div>
                            <button class="card-button">Donate now</button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="donate-card" style="width: 18rem;">
                        <img src="assets/img/pic2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">'Support Panvel Gurudwara Tea....</h5>
                            <p class="card-text">By Sanjivani NGO.</p>
                            <div class="box">
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Fund</p>
                                </div>
                                <div class="card-part">
                                    <h5>0</h5>
                                    <p>Supporters</p>
                                </div>
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Share</p>
                                </div>
                            </div>
                            <button class="card-button">Donate now</button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="donate-card" style="width: 18rem;">
                        <img src="assets/img/pic3.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">' Donation for Orphanages acro...</h5>
                            <p class="card-text">By Sanjivani NGO.</p>
                            <div class="box">
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Fund</p>
                                </div>
                                <div class="card-part">
                                    <h5>0</h5>
                                    <p>Supporters</p>
                                </div>
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Share</p>
                                </div>
                            </div>
                            <button class="card-button">Donate now</button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="donate-card" style="width: 18rem;">
                        <img src="assets/img/pic4.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">'Donation for Old age home....</h5>
                            <p class="card-text">By Sanjivani NGO.</p>
                            <div class="box">
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Fund</p>
                                </div>
                                <div class="card-part">
                                    <h5>0</h5>
                                    <p>Supporters</p>
                                </div>
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Share</p>
                                </div>
                            </div>
                            <button class="card-button">Donate now</button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="donate-card" style="width: 18rem;">
                        <img src="assets/img/pic5.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">'Donation for rehabitation ce....</h5>
                            <p class="card-text">By Sanjivani NGO.</p>
                            <div class="box">
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Fund</p>
                                </div>
                                <div class="card-part">
                                    <h5>0</h5>
                                    <p>Supporters</p>
                                </div>
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Share</p>
                                </div>
                            </div>
                            <button class="card-button">Donate now</button>
                        </div>
                    </div>
                </div>
                <div class="slide">
                    <div class="donate-card" style="width: 18rem;">
                        <img src="assets/img/pic6.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">'Donation for rehabitation ce. . .</h5>
                            <p class="card-text">By Sanjivani NGO.</p>
                            <div class="box">
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Fund</p>
                                </div>
                                <div class="card-part">
                                    <h5>0</h5>
                                    <p>Supporters</p>
                                </div>
                                <div class="card-part">
                                    <h5>600.0k</h5>
                                    <p>Share</p>
                                </div>
                            </div>
                            <button class="card-button">Donate now</button>
                        </div>
                    </div>
                </div>
            </div>
            <button  onclick="slideRight()" class="btn"></button>
            <button onclick="slideLeft()" class="btn"></button>
            
        </div>
    </div>
</div>