  <!--Analysis starts-->

  <div id="container-analysis">
    <p class="con-sub-heading">SANJIVANI</p>
    <div id="row-analysis" class="row">
        <div id="asset" class="col">
            <div class="asset-img">
                <img id="img-asset" class="img-fluid" src="assets/img/relief_meals.png">
            </div>
            <div class="asset-text">
                <h2 id="rf">0</h2>
                <h5>Covid-19 Relief Meals</h5>
            </div>
        </div>

        <div id="asset" class="col">
            <div class="asset-img">
                <img id="img-asset" class="img-fluid" src="assets/img/happiness_kit.png">
            </div>
            <div class="asset-text">
                <h2 id="hk">0</h2>
                <!--17.65 lakh-->
                <h5>Happiness Kits</h5>
            </div>
        </div>

        <div id="asset" class="col">
            <div class="asset-img">
                <img id="img-asset" class="img-fluid" src="assets/img/familiy_happiness_kit.png">
            </div>
            <div class="asset-text">
                <h2 id="fk">0</h2>
                <h5>Family Happiness Kits</h5>
            </div>
        </div>

        <div id="asset" class="col">
            <div class="asset-img">
                <img id="img-asset" class="img-fluid" src="assets/img/midday_meals.png">
            </div>
            <div class="asset-text">
                <h2 id="mdm">0</h2>
                <!--350 crore-->
                <h5>Mid-Day Meals</h5>
            </div>
        </div>

        <div id="asset" class="col">
            <div class="asset-img">
                <img id="img-asset" class="img-fluid" src="assets/img/anganwadi-kits.png">
            </div>
            <div class="asset-text">
                <h2 id="am">0</h2>
                <h5>Anganwadi Meals</h5>
            </div>
        </div>
    </div>
</div>

<!--Analytics ends-->