  <!-- what pepole say starts -->
  <div id="what-people">
    <div >
        <p class="con-sub-heading" style="color: black;">SANJIVANI</p>
        <h2 class="con-heading" style="color: black;">What People Say About Us</h2>
    </div>
    <div class="blog-card">
        <input type="radio" name="select" id="tap-1" checked>
        <input type="radio" name="select" id="tap-2">
        <input type="radio" name="select" id="tap-3">
        <input type="checkbox" id="imgTap">
        <div class="sliders">
            <label for="tap-1" class="tap tap-1"></label>
            <label for="tap-2" class="tap tap-2"></label>
            <label for="tap-3" class="tap tap-3"></label>
        </div>
        <div class="inner-part">
            <label for="imgTap" class="img">
                <img class="img-1" src="assets/img/profile-1.jpg">
            </label>
            <div class="content content-1">
                <span class="date">26 December 2017</span>
                <div class="title">Amit</div>
                <div class="text">Amit and the Worlds toughest cycling expedition and so on..</div>
                <button>Read more</button>
            </div>
        </div>
        <div class="inner-part">
            <label for="imgTap" class="img">
                <img class="img-2" src="assets/img/profile-2.jpg">
            </label>
            <div class="content content-2">
                <span class="date">26 December 2018</span>
                <div class="title">Ankit</div>
                <div class="text">Ankit and the Worlds toughest cycling expedition and so on..</div>
                <button>Read more</button>
            </div>
        </div>
        <div class="inner-part">
            <label for="imgTap" class="img">
                <img class="img-3" src="assets/img/profile-3.png">
            </label>
            <div class="content content-3">
                <span class="date">26 December 2019</span>
                <div class="title">Ayush</div>
                <div class="text">Ayush and the Worlds toughest cycling expedition and so on..</div>
                <button>Read more</button>
            </div>
        </div>
    </div>
</div>

    <!-- what pepole say ends -->
