  <!--crowdfunding starts-->
  <div id="container-tb">
    <p class="con-sub-heading">SANJIVANI</p>
    <h2 class="con-heading">How Can Crowdfunding Help You</h2>
    <div id="tb-row" class="row">
        <div id="data-tb" class="col">
            <table class="table_tb">
                <tbody id="table-tb">
                    <tr style=" border-bottom:solid; border-color: #ecedeedc; border-bottom-width: 0.5px;">
                        <td>
                            <h1>₹1500+ Cr*</h1>
                            <h5>Funds Raised</h5>
                        </td>
                        <td style="border-left: #ecedeedc solid 0.5px;">
                            <h1>5,00,000+</h1>
                            <h5>Individuals & Organisations</h5>
                        </td>
                        <td style="border-left: #ecedeeda solid 0.5px;">
                            <h1>165+</h1>
                            <h5>Countries Impacted</h5>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <br />
                            <i style="font-size: 50px;" class="fas fa-check-circle"></i><br /><br />
                            <h5>Instant Approval On Your Fundraiser</h5>
                        </td>
                        <td style="border-left: #ecedeedc solid 0.5px;">
                            <br />
                            <i style="font-size: 50px;" class="fas fa-gift"></i><br /><br />
                            <h5>Indian Tax Benefits</h5>
                        </td>
                        <td style="border-left: #ecedeeda solid 0.5px;">
                            <br />
                            <i style="font-size: 50px;" class="fab fa-android"></i><br /><br />

                            <h5>Free iOS & Android App.</h5>
                        </td>

                    </tr>
                </tbody>
            </table>

        </div>
        <p style="text-align: center; color: #ecedeeda;">*Inclusive of funds raised by our global crowdfunding
            partners</p>

    </div>



</div>
<!--Crowdfunding ends-->