<div id="container-myodoc">
    <div id="myodoc-row" class="row">
        <p class="con-sub-heading">SANJIVANI</p>
        <h2 class="con-heading">Make Your Own Day Of Charity</h2>
        <div id="myodoc-col" class="col-xl-6 col-lg-6 col-md-6  col-sm-12">
            <div id="myodoc-text" class="row">
                <h1 style="color: #86c540;">MAKE YOUR OWN </h1>
                <h1 style="color: #86c540;">DAY OF CHARITY</h1>
                <h6 style="color: white;">Add goodwill to your special occasions by spreading joy among those who
                    need your care and support the most.</h6>

            </div>

        </div>
        <div id="myodoc-col" class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
            <div id="myodoc-form" class="row">
                <h4 style="color: #86c540; text-align: center;">Choose your Occasion</h4>
                <div class="row" id="options-myodoc">
                    <div class="col"> <img id="celebrations" value="Celebrations" class="img-fluid"
                            src="assets/img/celebration.png">
                        <p style="color: white;">Celebrations</p>
                    </div>
                    <div class="col"><img id="inHonourOf" value="In Honour of" class="img-fluid"
                            src="assets/img/inHonorof.png">
                        <p style="color: white;">In Honour of</p>
                    </div>
                    <div class="col"><img id="inMemoryOf" value="In Memory of" class="img-fluid"
                            src="assets/img/inMemoryof.png">
                        <p style="color: white;">In Memory of</p>
                    </div>

                </div>
                <div id="button-myodoc" class="row">
                    <button value="" style="width: 200px;" class="btn" type="button">
                        <h5>Donate Now</h5>
                    </button>
                </div>


            </div>

        </div>
    </div>

</div>